[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-modeladmin-reorder = "*"
django-rest-framework = "*"
django-jazzmin = "*"
python-decouple = "*"
psycopg2-binary = "*"
gunicorn = "*"
django-ckeditor = "*"
django-image-uploader-widget = "*"
pika = "*"
django-crispy-forms = "*"
crispy-bootstrap4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
