[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-suit = {file = "https://github.com/darklow/django-suit/tarball/v2"}
django-admin-interface = "*"
pillow = "*"
django-modeladmin-reorder = "*"
django-mptt = "*"
django-rest-framework = "*"

[dev-packages]

[requires]
python_version = "3.8"
