{% extends 'common.html' %}
{% load static %}

{% block content %}

{% for photo in page_obj %}

    <div class="alert alert-info mt-2 col-md-5" role="alert">
        {{ photo.people }}
    </div>

    <img src="{{ photo.photo_link }}" class="rounded float-left" alt="...">
{% endfor %}


<nav aria-label="Page navigation example">
  <ul class="pagination mt-4">

      <li class="page-item"><a class="page-link" href="?page=1">Первое</a></li>

      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующее</a></li>
      {% endif %}

      {% if page_obj.has_previous %}
          <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Предыдущее</a></li>
      {% endif %}

  </ul>
</nav>

{% endblock %}